body {
    font-family: Arial, sans-serif;
    padding: 40px;
    background-color: #f4eded;
}

h1 {
    background: #547792;
    padding: 100px;
    border: 5px solid #547792;
    border-radius: 20px;
    color: #F1E2E2;

}

nav a {
    text-decoration: none;
    color: #d3b684;
    font-size: 20px;
    transition: color 0.5s ease, font-size 0.5s ease;
}

nav a:hover {
    font-size: 25px;
    color: #94B4C1;
}

nav a.active {
    font-weight: 700;
    font-size: 25px;
    text-decoration: none;
    color: #94B4C1;
}

.syntax-text-box {
    margin: 40px 0;
}

.syntax-text {
    color: #F16D34;
}

.student-description a {
    color: #F16D34;
    text-decoration: none;
    transition: color 0.5s ease, font-weight 0.5s ease;
}

.student-description a:hover {
    color: #cb501b;
    font-weight: 700;
}

.student-description li {
    margin: 10px 0;
    color: #A6B28B;
}


.footer {
    text-align: center;
    margin-top: 40px;
    padding: 10px 0;
    font-size: 0.9rem;
    color: #555;
}